.quotes__inner
  width: 100%
  height: 100%
  
.quotes__list-container
  width: 100%
  height: 85%
  margin: 0 auto

.quotes__container-button
  width: 100%
  height: 10%
  display: flex
  justify-content: flex-end
  align-items: center

.quotes__list
  width: 100%
  height: 100%
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center

@media only screen and (min-width:1440px)
  .quotes__list
    width: 720px


.quotes__list-item
  width: 100%
  @include animation(fade-in 1000ms 1)

.quotes__text
  font-weight: 500
  font-size: 2em
  position: relative
  padding: 0 0 0 1.667rem
  color: #000
  &::before
    position: absolute
    content: ""
    width: 8px
    top: 0
    left: 0
    height: 100%
    background-color: $primary-color

@media only screen and (min-width:1440px)
  .quotes__text::before
    left: -3rem

.quotes__author-link
  background-color: $secondary-color
  width: 100%
  padding: 2.1em 1.667em
  margin-top: 5.56em
  @include transition(.3s background-color)
  @extend display-flex
  &:hover
    background-color: $secondary-color
    & .quotes__author
      color: #fff
    & .quotes__author-arrow-icon
      color: #fff

@media only screen and (min-width:1440px)
  .quotes__author-link
    background: transparent

.quotes__author
  font-size: 1.3em
  color: #fff
  @include transition(.3s color)

@media only screen and (min-width:1440px)
  .quotes__author
    color: $quotes-link-color

.quotes__random-buttom
  font-size: 1em
  font-family: $font-raleway
  font-weight: 500
  cursor: pointer

@media only screen and (min-width:1440px)
  .quotes__random-buttom
    &:hover .quotes__random-button-icon
      color: $secondary-color
      @include animation(random-button-icon-rotate 1500ms linear infinite)

.quotes__random-button-icon
  vertical-align: middle
  margin-left: 3px
  color: $quotes-link-color

.quotes__author-arrow-icon
  color: #fff
  @include transition(color .3s)
  font-size: 2rem !important

@media only screen and (min-width:1440px)
  .quotes__author-arrow-icon
    background: transparent